@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* CSS HEX */
--turquoise: #01F0D0ff;
--bice-blue: #016BA9ff;
--emerald: #0BD984ff;
--maya-blue: #6DC0ECff;
}
.menu-item{
    padding: 0.4rem 0.9rem;
    border-radius: 2rem;
    transition: all 0.3s ease-in;
}
.menu-item:hover, .active{
    background-color: var(--turquoise);
    /* color: white; */
}
.menu:hover .active:not(:hover){
    background: none;
}


/* Base Badge Styles */
.badge {
    padding: 0.25rem 0.75rem; /* px-3 py-1 equivalent */
    font-size: 0.75rem; /* text-xs equivalent */
    border-radius: 9999px; /* rounded-full equivalent */
    display: inline-block;
    font-weight: 500;
    text-align: center;
  }
  
  /* Cured Status */
  .badge-cured {
    background-color: #d1fae5; /* bg-green-100 */
    color: #065f46; /* text-green-800 */
  }
  
  /* Under Observation Status */
  .badge-under-observation {
    background-color: #fef9c3; /* bg-yellow-100 */
    color: #92400e; /* text-yellow-800 */
  }
  
  /* Inactive Status */
  .badge-inactive {
    background-color: #f3f4f6; /* bg-gray-100 */
    color: #374151; /* text-gray-800 */
  }
  
  /* Planned Status */
  .badge-planned {
    background-color: #bfdbfe; /* bg-blue-100 */
    color: #1e3a8a; /* text-blue-800 */
  }
  
  /* In Progress Status */
  .badge-in-progress {
    background-color: #ffedd5; /* bg-orange-100 */
    color: #9a3412; /* text-orange-800 */
  }
  
  /* Ongoing Status */
  .badge-ongoing {
    background-color: #ccfbf1; /* bg-teal-100 */
    color: #134e4a; /* text-teal-800 */
  }
  

  ::-webkit-scrollbar {
    width: 7px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background-color: transparent; 
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(135deg, #a8e6cf, #70c1b3); Light mint to teal */
    background: #333;
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0px 0px 5px rgba(112, 193, 179, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #70c1b3, #48a9a6); /* Slightly darker on hover */
    transform: scale(1.1);
}
